:root {
  --color-background: #F0F0F7;
  --color-primary-lighter: #e2c216;
  --color-primary-light: #ffe553;
  --color-primary: #4e4e4e;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-secundary: rgb(94, 94, 94);
  --color-secundary-dark: rgb(180, 180, 180);
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #fffec8;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  overflow-x: hidden
}

body {
  background: var(--color-background);
}

#root {
  /* alinhar tudo ao centro */
  display: flex;
  align-items: center;
  justify-content: center;
}

body, input, button, textarea {
  /* rem = font-size 16px = 9.6px (16px) */
  font: 500 1.6rem Poppins;
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}